openapi: 3.0.3
info:
  title: Smile ID V3 API
  version: 3.0.0
  description: Canonical public OpenAPI bundle for the Smile ID v3 API.
  contact:
    name: Smile ID Support
    url: https://docs.usesmileid.com
    email: support@usesmileid.com
servers:
  - url: https://testapi.smileidentity.com
    description: Sandbox
  - url: https://api.smileidentity.com
    description: Production
tags:
  - name: AML Monitoring
  - name: Authentication
  - name: Biometric Authentication
  - name: Biometric Enrollment
  - name: Biometric KYC
  - name: Callback Replay
  - name: Document Verification
  - name: Enhanced Document Verification
  - name: Enhanced KYC
  - name: One-Time AML
  - name: Services
  - name: Smart Selfie Compare
  - name: Users
  - name: Verification Status
paths:
  /v3/aml/monitoring:
    post:
      operationId: submitAmlMonitoring
      tags:
        - AML Monitoring
      security:
        - SmileIDToken: []
      summary: Submit AML Monitoring screening
      description: >-
        Submits an AML Monitoring screening request and processes it asynchronously against global
        watchlists, enrolling the entity for ongoing monitoring. Results are delivered via callback
        URL.
      parameters:
        - name: SmileID-Source-SDK
          in: header
          required: false
          description: Source SDK identifier.
          schema:
            type: string
            example: android
        - name: SmileID-Source-SDK-Version
          in: header
          required: false
          description: Source SDK version.
          schema:
            type: string
            example: 10.4.2
        - name: SmileID-Timestamp
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            ISO 8601 timestamp used as the salt when computing SmileID-Request-Signature. Required
            when your Smile ID account is configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            format: date-time
            example: '2026-03-10T12:00:00.000Z'
        - name: SmileID-Request-Signature
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            HMAC signature of the raw HTTP request body, computed with your SDK/partner secret and
            the value of SmileID-Timestamp as salt. Required when your Smile ID account is
            configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            example: 4f2d9c6b8a7e3f1c0d5e4b3a2c1f9e8d7c6b5a4f3e2d1c0b9a8f7e6d5c4b3a2
        - name: User-ID
          in: header
          required: false
          description: >-
            Partner-provided user identifier. If omitted, a TypeID is generated automatically. Must
            agree with body `user_id` and any token-bound user id — disagreement is a 403. When
            `search_existing_user` is true, the body `user_id` is required.
          schema:
            type: string
      requestBody:
        required: true
        description: >-
          multipart/form-data. Array fields (`countries`, `aliases`) must be sent as a single
          JSON-encoded string (e.g. `countries='["NG","GH"]'`), not as repeated form fields —
          multipart has no array encoding and a repeated field is overwritten, which fails
          validation.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AmlMonitoringRequest'
      responses:
        '202':
          description: Accepted — screening submitted for async processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
              example:
                status: accepted
                message: Request accepted and queued for processing.
                job_id: job_01h8x9y2z3a4b5c6d7e8f9g0h1
                user_id: user_01h8x9y2z3a4b5c6d7e8f9g0h1
                created_at: '2026-03-10T12:00:00.000Z'
        '400':
          description: Bad Request — validation error in request body or headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                missingCountries:
                  summary: Missing required field
                  value:
                    status: Bad Request
                    message: Required field 'countries' is missing or invalid.
                missingFullName:
                  summary: full_name required when not reusing an existing user
                  value:
                    status: Bad Request
                    message: Required field 'full_name' is missing or invalid.
                searchExistingUserNeedsUserId:
                  summary: user_id required when search_existing_user is true
                  value:
                    status: Bad Request
                    message: >-
                      Required field 'user_id' is missing or invalid when search_existing_user is
                      true.
                invalidBirthYear:
                  summary: birth_year is not a four digit year
                  value:
                    status: Bad Request
                    message: Field 'birth_year' must be a four digit year.
                missingContact:
                  summary: Missing email and phone
                  value:
                    status: Bad Request
                    message: Either user_details.email or user_details.phone_number is required.
                missingCallbackUrl:
                  summary: Missing callback_url and no default set
                  value:
                    status: Bad Request
                    message: >-
                      A valid callback_url is required in the request or a default callback URL must
                      be configured in the portal.
        '401':
          description: Unauthorized — invalid or missing authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unauthorized
                message: Invalid authentication credentials.
        '402':
          description: Payment Required — insufficient wallet balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Payment Required
                message: Insufficient wallet balance.
        '403':
          description: Forbidden — partner not authorized for this product or IP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                productAccess:
                  summary: Product not enabled
                  value:
                    status: Forbidden
                    message: Product not enabled for this partner.
                productionAccess:
                  summary: Production access denied
                  value:
                    status: Forbidden
                    message: Production access is not enabled.
                sdkVersion:
                  summary: SDK version blocked
                  value:
                    status: Forbidden
                    message: SDK version not allowed.
                userIdMismatch:
                  summary: Body and header user ids disagree
                  value:
                    status: Forbidden
                    message: Token is not authorized for this user ID.
        '404':
          description: >-
            Not Found — `search_existing_user` was set but no matching enrollee or usable prior
            record was found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                noEnrollee:
                  summary: No enrolled user found for this partner
                  value:
                    status: Not Found
                    message: No enrolled user found for this partner.
                noUsablePriorRecord:
                  summary: No usable prior KYC record
                  value:
                    status: Not Found
                    message: No prior KYC record with a usable name and country was found for this user.
        '415':
          description: Unsupported Media Type — request must be multipart/form-data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unsupported Media Type
                message: Unsupported Media Type. Required Content-Type is multipart/form-data
        '429':
          description: Too Many Requests — rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Too Many Requests
                message: Rate limit exceeded. Please try again later.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Internal Server Error
                message: An unexpected error occurred. Please try again or contact support.
  /v3/authentication:
    post:
      summary: Submit biometric authentication
      operationId: v3BiometricAuthentication
      tags:
        - Biometric Authentication
      security:
        - SmileIDToken: []
      description: >-
        Authenticates a user by comparing a submitted selfie against their enrolled image. The
        selfie and liveness images are uploaded, validated at entry, then queued for async ML
        processing (passive liveness, active liveness, face matching). Results are delivered via
        callback URL.

        Supports `use_enrolled_image: true` to skip selfie/liveness upload and re-use the enrolled
        image for the comparison (useful for server-side re-verification).
      parameters:
        - name: SmileID-Source-SDK
          in: header
          required: false
          description: Source SDK identifier.
          schema:
            type: string
            example: android
        - name: SmileID-Source-SDK-Version
          in: header
          required: false
          description: Source SDK version.
          schema:
            type: string
            example: 10.4.2
        - name: SmileID-Timestamp
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: ISO 8601 timestamp used as the salt when computing SmileID-Request-Signature.
          schema:
            type: string
            format: date-time
        - name: SmileID-Request-Signature
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: HMAC signature of the raw HTTP request body.
          schema:
            type: string
        - name: User-ID
          in: header
          required: false
          description: Partner-provided user identifier override.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BiometricAuthenticationRequest'
            encoding:
              selfie_image:
                contentType: image/jpeg
              liveness_images:
                contentType: image/jpeg
      responses:
        '202':
          description: Accepted — job queued for async processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
              example:
                status: accepted
                message: Request accepted and queued for processing.
                job_id: job_01h8x9y2z3a4b5c6d7e8f9g0h1
                user_id: user_auth_001
                created_at: '2026-03-10T12:00:00.000Z'
        '400':
          description: Bad Request — validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                missingCallbackUrl:
                  summary: Missing callback_url and no default set
                  value:
                    status: Bad Request
                    message: >-
                      A valid callback_url is required in the request or a default callback URL must
                      be configured in the portal.
                missingUserId:
                  summary: Missing user_id
                  value:
                    status: Bad Request
                    message: Required field 'user_id' is missing or invalid.
                missingContact:
                  summary: Missing email and phone
                  value:
                    status: Bad Request
                    message: Either email or phone_number is required.
        '401':
          description: Unauthorized — invalid or missing authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '402':
          description: Payment Required — insufficient wallet balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: Forbidden — partner not authorized for this product or IP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '415':
          description: Unsupported Media Type — request must be multipart/form-data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests — rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v3/registration:
    post:
      summary: Submit biometric enrollment
      operationId: v3BiometricEnrollment
      tags:
        - Biometric Enrollment
      security:
        - SmileIDToken: []
      description: >-
        Enrolls a user's biometric selfie for future authentication. The selfie and liveness images
        are uploaded, validated at entry, then processed asynchronously (passive liveness, active
        liveness). Results are delivered via callback URL.
      parameters:
        - name: SmileID-Source-SDK
          in: header
          required: false
          description: Source SDK identifier.
          schema:
            type: string
            example: android
        - name: SmileID-Source-SDK-Version
          in: header
          required: false
          description: Source SDK version.
          schema:
            type: string
            example: 10.4.2
        - name: SmileID-Timestamp
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            ISO 8601 timestamp used as the salt when computing SmileID-Request-Signature. Required
            when your Smile ID account is configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            format: date-time
            example: '2026-03-10T12:00:00.000Z'
        - name: SmileID-Request-Signature
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            HMAC signature of the raw HTTP request body, computed with your SDK/partner secret and
            the value of SmileID-Timestamp as salt. Required when your Smile ID account is
            configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            example: 4f2d9c6b8a7e3f1c0d5e4b3a2c1f9e8d7c6b5a4f3e2d1c0b9a8f7e6d5c4b3a2
        - name: User-ID
          in: header
          required: false
          description: Partner-provided user identifier. If omitted, a TypeID is generated automatically.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BiometricEnrollmentRequest'
            encoding:
              selfie_image:
                contentType: image/jpeg
              liveness_images:
                contentType: image/jpeg
      responses:
        '202':
          description: Accepted — verification submitted for async processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
              example:
                status: accepted
                message: Request accepted and queued for processing.
                job_id: job_01h8x9y2z3a4b5c6d7e8f9g0h1
                user_id: user_01h8x9y2z3a4b5c6d7e8f9g0h1
                created_at: '2026-03-10T12:00:00.000Z'
        '400':
          description: Bad Request — validation error in request body or headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                missingSelfie:
                  summary: Missing selfie image
                  value:
                    status: Bad Request
                    message: Required field 'selfie_image' is missing or invalid.
                missingCallbackUrl:
                  summary: Missing callback_url and no default set
                  value:
                    status: Bad Request
                    message: >-
                      A valid callback_url is required in the request or a default callback URL must
                      be configured in the portal.
                missingContact:
                  summary: Missing email and phone
                  value:
                    status: Bad Request
                    message: Either email or phone_number is required.
                invalidConsent:
                  summary: Consent not granted
                  value:
                    status: Bad Request
                    message: Required field 'consent.granted' is missing or invalid.
        '401':
          description: Unauthorized — invalid or missing authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unauthorized
                message: Invalid authentication credentials.
        '402':
          description: Payment Required — insufficient wallet balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Payment Required
                message: Insufficient wallet balance.
        '403':
          description: Forbidden — partner not authorized for this product or IP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                productAccess:
                  summary: Product not enabled
                  value:
                    status: Forbidden
                    message: Product not enabled for this partner.
                productionAccess:
                  summary: Production access denied
                  value:
                    status: Forbidden
                    message: Production access is not enabled.
                sdkVersion:
                  summary: SDK version blocked
                  value:
                    status: Forbidden
                    message: SDK version not allowed.
        '413':
          description: Content Too Large — an uploaded file exceeds the size limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Content Too Large
                message: selfie_image is too large.
        '415':
          description: Unsupported Media Type — request must be multipart/form-data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unsupported Media Type
                message: Unsupported Media Type. Required Content-Type is multipart/form-data
        '429':
          description: Too Many Requests — rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Too Many Requests
                message: Rate limit exceeded. Please try again later.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Internal Server Error
                message: An unexpected error occurred. Please try again or contact support.
  /v3/biometric_kyc:
    post:
      summary: Submit Biometric KYC verification
      operationId: v3BiometricKycEntry
      tags:
        - Biometric KYC
      security:
        - SmileIDToken: []
      description: >-
        Combines biometric selfie verification with KYC identity checks against the relevant ID
        authority. The selfie and liveness images are uploaded alongside identity details (country,
        id_type, id_number), validated at entry, then processed asynchronously. Results are
        delivered via callback URL.
      parameters:
        - name: SmileID-Partner-ID
          in: header
          required: true
          description: Partner identifier (numeric, 3+ digits).
          schema:
            type: string
            pattern: ^\d{3,}$
            example: '1234'
        - name: SmileID-Source-SDK
          in: header
          required: false
          description: Source SDK identifier.
          schema:
            type: string
            example: android
        - name: SmileID-Source-SDK-Version
          in: header
          required: false
          description: Source SDK version.
          schema:
            type: string
            example: 10.4.2
        - name: SmileID-Timestamp
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            ISO 8601 timestamp used as the salt when computing SmileID-Request-Signature. Required
            when your Smile ID account is configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            format: date-time
            example: '2026-03-10T12:00:00.000Z'
        - name: SmileID-Request-Signature
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            HMAC signature of the raw HTTP request body, computed with your SDK/partner secret and
            the value of SmileID-Timestamp as salt. Required when your Smile ID account is
            configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            example: 4f2d9c6b8a7e3f1c0d5e4b3a2c1f9e8d7c6b5a4f3e2d1c0b9a8f7e6d5c4b3a2
        - name: User-ID
          in: header
          required: false
          description: Partner-provided user identifier. If omitted, a TypeID is generated automatically.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BiometricKycRequest'
            encoding:
              selfie_image:
                contentType: image/jpeg
              liveness_images:
                contentType: image/jpeg
      responses:
        '202':
          description: Accepted — verification submitted for async processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
              example:
                status: accepted
                message: Request accepted and queued for processing.
                job_id: job_01h8x9y2z3a4b5c6d7e8f9g0h1
                user_id: user_01h8x9y2z3a4b5c6d7e8f9g0h1
                created_at: '2026-03-10T12:00:00.000Z'
        '400':
          description: Bad Request — validation error in request body or headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                missingSelfie:
                  summary: Missing selfie image
                  value:
                    status: Bad Request
                    message: Required field 'selfie_image' is missing or invalid.
                missingCallbackUrl:
                  summary: Missing callback_url and no default set
                  value:
                    status: Bad Request
                    message: >-
                      A valid callback_url is required in the request or a default callback URL must
                      be configured in the portal.
                missingCountry:
                  summary: Missing required field
                  value:
                    status: Bad Request
                    message: Required field 'country' is missing or invalid.
                missingContact:
                  summary: Missing email and phone
                  value:
                    status: Bad Request
                    message: Either email or phone_number is required.
                invalidConsent:
                  summary: Consent not granted
                  value:
                    status: Bad Request
                    message: Required field 'consent.granted' is missing or invalid.
                invalidIdFormat:
                  summary: Invalid ID number format
                  value:
                    status: Bad Request
                    message: Invalid ID number format for the specified country and ID type.
        '401':
          description: Unauthorized — invalid or missing authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unauthorized
                message: Invalid authentication credentials.
        '402':
          description: Payment Required — insufficient wallet balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Payment Required
                message: Insufficient wallet balance.
        '403':
          description: Forbidden — partner not authorized for this product, ID type, or IP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                productAccess:
                  summary: Product not enabled
                  value:
                    status: Forbidden
                    message: Product not enabled for this partner.
                idTypeDisabled:
                  summary: ID type not enabled
                  value:
                    status: Forbidden
                    message: ID type not enabled for this partner.
                productionAccess:
                  summary: Production access denied
                  value:
                    status: Forbidden
                    message: Production access is not enabled.
                sdkVersion:
                  summary: SDK version blocked
                  value:
                    status: Forbidden
                    message: SDK version not allowed.
        '413':
          description: Content Too Large — an uploaded file exceeds the size limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Content Too Large
                message: selfie_image is too large.
        '415':
          description: Unsupported Media Type — request must be multipart/form-data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unsupported Media Type
                message: Unsupported Media Type. Required Content-Type is multipart/form-data
        '429':
          description: Too Many Requests — rate limit exceeded for this ID number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Too Many Requests
                message: Rate limit exceeded. Please try again later.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Internal Server Error
                message: An unexpected error occurred. Please try again or contact support.
  /v3/document_verification:
    post:
      summary: Submit Document Verification
      operationId: v3DocumentVerificationEntry
      tags:
        - Document Verification
      security:
        - SmileIDToken: []
      description: >-
        Verifies a user's identity by comparing a selfie against a document image. The selfie and
        liveness images are uploaded alongside a document photo (front, and optionally back). The
        id_type is optional — the document type is auto-classified if not provided. Results are
        delivered asynchronously via callback URL.
      parameters:
        - name: SmileID-Partner-ID
          in: header
          required: true
          description: Partner identifier (numeric, 3+ digits).
          schema:
            type: string
            pattern: ^\d{3,}$
            example: '1234'
        - name: SmileID-Source-SDK
          in: header
          required: false
          description: Source SDK identifier.
          schema:
            type: string
            example: android
        - name: SmileID-Source-SDK-Version
          in: header
          required: false
          description: Source SDK version.
          schema:
            type: string
            example: 10.4.2
        - name: SmileID-Timestamp
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            ISO 8601 timestamp used as the salt when computing SmileID-Request-Signature. Required
            when your Smile ID account is configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            format: date-time
            example: '2026-03-10T12:00:00.000Z'
        - name: SmileID-Request-Signature
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            HMAC signature of the raw HTTP request body, computed with your SDK/partner secret and
            the value of SmileID-Timestamp as salt. Required when your Smile ID account is
            configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            example: 4f2d9c6b8a7e3f1c0d5e4b3a2c1f9e8d7c6b5a4f3e2d1c0b9a8f7e6d5c4b3a2
        - name: User-ID
          in: header
          required: false
          description: Partner-provided user identifier. If omitted, a TypeID is generated automatically.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentVerificationRequest'
            encoding:
              selfie_image:
                contentType: image/jpeg
              liveness_images:
                contentType: image/jpeg
              document:
                contentType: image/jpeg, image/png
              document_back:
                contentType: image/jpeg, image/png
      responses:
        '202':
          description: Accepted — job submitted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
              example:
                status: accepted
                message: Request accepted and queued for processing.
                job_id: job_01h8x9y2z3a4b5c6d7e8f9g0h1
                user_id: user_01h8x9y2z3a4b5c6d7e8f9g0h1
                created_at: '2026-03-10T12:00:00.000Z'
        '400':
          description: Bad Request — validation error in request body or headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                missingDocument:
                  summary: Missing document image
                  value:
                    status: Bad Request
                    message: Required field 'document' is missing or invalid.
                missingSelfie:
                  summary: Missing selfie image
                  value:
                    status: Bad Request
                    message: Required field 'selfie_image' is missing or invalid.
                missingCallbackUrl:
                  summary: Missing callback_url and no default set
                  value:
                    status: Bad Request
                    message: >-
                      A valid callback_url is required in the request or a default callback URL must
                      be configured in the portal.
                missingCountry:
                  summary: Missing required field
                  value:
                    status: Bad Request
                    message: Required field 'country' is missing or invalid.
                missingContact:
                  summary: Missing email and phone
                  value:
                    status: Bad Request
                    message: Either email or phone_number is required.
                invalidConsent:
                  summary: Consent not granted
                  value:
                    status: Bad Request
                    message: Required field 'consent.granted' is missing or invalid.
                invalidDocumentMime:
                  summary: Invalid document image format
                  value:
                    status: Bad Request
                    message: Document image must be JPEG or PNG.
        '401':
          description: Unauthorized — invalid or missing authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unauthorized
                message: Invalid authentication credentials.
        '402':
          description: Payment Required — insufficient wallet balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Payment Required
                message: Insufficient wallet balance.
        '403':
          description: Forbidden — partner not authorized for this product or IP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                productAccess:
                  summary: Product not enabled
                  value:
                    status: Forbidden
                    message: Product not enabled for this partner.
                productionAccess:
                  summary: Production access denied
                  value:
                    status: Forbidden
                    message: Production access is not enabled.
                sdkVersion:
                  summary: SDK version blocked
                  value:
                    status: Forbidden
                    message: SDK version not allowed.
        '413':
          description: Content Too Large — an uploaded file exceeds the size limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Content Too Large
                message: selfie_image is too large.
        '415':
          description: Unsupported Media Type — request must be multipart/form-data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unsupported Media Type
                message: Unsupported Media Type. Required Content-Type is multipart/form-data
        '429':
          description: Too Many Requests — rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Too Many Requests
                message: Rate limit exceeded. Please try again later.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Internal Server Error
                message: An unexpected error occurred. Please try again or contact support.
  /v3/enhanced_document_verification:
    post:
      summary: Submit Enhanced Document Verification
      operationId: v3EnhancedDocumentVerificationEntry
      tags:
        - Enhanced Document Verification
      security:
        - SmileIDToken: []
      description: >-
        Verifies a user's identity by comparing a selfie against a document image and
        cross-referencing extracted data for additional verification. The selfie and liveness images
        are uploaded alongside a document photo (front, and optionally back). The id_type is
        required for this endpoint. Results are delivered asynchronously via callback URL.
      parameters:
        - name: SmileID-Partner-ID
          in: header
          required: true
          description: Partner identifier (numeric, 3+ digits).
          schema:
            type: string
            pattern: ^\d{3,}$
            example: '1234'
        - name: SmileID-Source-SDK
          in: header
          required: false
          description: Source SDK identifier.
          schema:
            type: string
            example: android
        - name: SmileID-Source-SDK-Version
          in: header
          required: false
          description: Source SDK version.
          schema:
            type: string
            example: 10.4.2
        - name: SmileID-Timestamp
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            ISO 8601 timestamp used as the salt when computing SmileID-Request-Signature. Required
            when your Smile ID account is configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            format: date-time
            example: '2026-03-10T12:00:00.000Z'
        - name: SmileID-Request-Signature
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            HMAC signature of the raw HTTP request body, computed with your SDK/partner secret and
            the value of SmileID-Timestamp as salt. Required when your Smile ID account is
            configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            example: 4f2d9c6b8a7e3f1c0d5e4b3a2c1f9e8d7c6b5a4f3e2d1c0b9a8f7e6d5c4b3a2
        - name: User-ID
          in: header
          required: false
          description: Partner-provided user identifier. If omitted, a TypeID is generated automatically.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EnhancedDocumentVerificationRequest'
            encoding:
              selfie_image:
                contentType: image/jpeg
              liveness_images:
                contentType: image/jpeg
              document:
                contentType: image/jpeg, image/png
              document_back:
                contentType: image/jpeg, image/png
      responses:
        '202':
          description: Accepted — job submitted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
              example:
                status: accepted
                message: Request accepted and queued for processing.
                job_id: job_01h8x9y2z3a4b5c6d7e8f9g0h1
                user_id: user_01h8x9y2z3a4b5c6d7e8f9g0h1
                created_at: '2026-03-10T12:00:00.000Z'
        '400':
          description: Bad Request — validation error in request body or headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                missingDocument:
                  summary: Missing document image
                  value:
                    status: Bad Request
                    message: Required field 'document' is missing or invalid.
                missingIdType:
                  summary: Missing id_type (required for Enhanced DocV)
                  value:
                    status: Bad Request
                    message: Required field 'id_type' is missing or invalid.
                missingSelfie:
                  summary: Missing selfie image
                  value:
                    status: Bad Request
                    message: Required field 'selfie_image' is missing or invalid.
                missingCallbackUrl:
                  summary: Missing callback_url and no default set
                  value:
                    status: Bad Request
                    message: >-
                      A valid callback_url is required in the request or a default callback URL must
                      be configured in the portal.
                missingCountry:
                  summary: Missing required field
                  value:
                    status: Bad Request
                    message: Required field 'country' is missing or invalid.
                missingContact:
                  summary: Missing email and phone
                  value:
                    status: Bad Request
                    message: Either email or phone_number is required.
                invalidConsent:
                  summary: Consent not granted
                  value:
                    status: Bad Request
                    message: Required field 'consent.granted' is missing or invalid.
                invalidDocumentMime:
                  summary: Invalid document image format
                  value:
                    status: Bad Request
                    message: Document image must be JPEG or PNG.
        '401':
          description: Unauthorized — invalid or missing authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unauthorized
                message: Invalid authentication credentials.
        '402':
          description: Payment Required — insufficient wallet balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Payment Required
                message: Insufficient wallet balance.
        '403':
          description: Forbidden — partner not authorized for this product, ID type, or IP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                productAccess:
                  summary: Product not enabled
                  value:
                    status: Forbidden
                    message: Product not enabled for this partner.
                idTypeDisabled:
                  summary: ID type not enabled
                  value:
                    status: Forbidden
                    message: ID type not enabled for this partner.
                productionAccess:
                  summary: Production access denied
                  value:
                    status: Forbidden
                    message: Production access is not enabled.
                sdkVersion:
                  summary: SDK version blocked
                  value:
                    status: Forbidden
                    message: SDK version not allowed.
        '413':
          description: Content Too Large — an uploaded file exceeds the size limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Content Too Large
                message: selfie_image is too large.
        '415':
          description: Unsupported Media Type — request must be multipart/form-data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unsupported Media Type
                message: Unsupported Media Type. Required Content-Type is multipart/form-data
        '429':
          description: Too Many Requests — rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Too Many Requests
                message: Rate limit exceeded. Please try again later.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Internal Server Error
                message: An unexpected error occurred. Please try again or contact support.
  /v3/enhanced_kyc:
    post:
      operationId: submitEnhancedKyc
      tags:
        - Enhanced KYC
      security:
        - SmileIDToken: []
      summary: Submit Enhanced KYC verification
      description: >-
        Allows submission of Enhanced KYC verification requests and processes the verification
        asynchronously against the relevant ID authority. Results are delivered via callback URL.
      parameters:
        - name: SmileID-Source-SDK
          in: header
          required: false
          description: Source SDK identifier.
          schema:
            type: string
            example: android
        - name: SmileID-Source-SDK-Version
          in: header
          required: false
          description: Source SDK version.
          schema:
            type: string
            example: 10.4.2
        - name: SmileID-Timestamp
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            ISO 8601 timestamp used as the salt when computing SmileID-Request-Signature. Required
            when your Smile ID account is configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            format: date-time
            example: '2026-03-10T12:00:00.000Z'
        - name: SmileID-Request-Signature
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            HMAC signature of the raw HTTP request body, computed with your SDK/partner secret and
            the value of SmileID-Timestamp as salt. Required when your Smile ID account is
            configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            example: 4f2d9c6b8a7e3f1c0d5e4b3a2c1f9e8d7c6b5a4f3e2d1c0b9a8f7e6d5c4b3a2
        - name: User-ID
          in: header
          required: false
          description: Partner-provided user identifier. If omitted, a TypeID is generated automatically.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EnhancedKycRequest'
      responses:
        '202':
          description: Accepted — verification submitted for async processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
              example:
                status: accepted
                message: Request accepted and queued for processing.
                job_id: job_01h8x9y2z3a4b5c6d7e8f9g0h1
                user_id: user_01h8x9y2z3a4b5c6d7e8f9g0h1
                created_at: '2026-03-10T12:00:00.000Z'
        '400':
          description: Bad Request — validation error in request body or headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                missingCountry:
                  summary: Missing required field
                  value:
                    status: Bad Request
                    message: Required field 'country' is missing or invalid.
                missingCallbackUrl:
                  summary: Missing callback_url and no default set
                  value:
                    status: Bad Request
                    message: >-
                      A valid callback_url is required in the request or a default callback URL must
                      be configured in the portal.
                missingContact:
                  summary: Missing email and phone
                  value:
                    status: Bad Request
                    message: Either email or phone_number is required.
                invalidEmail:
                  summary: Invalid email format
                  value:
                    status: Bad Request
                    message: Field 'email' is invalid.
                invalidPhone:
                  summary: Invalid phone number format
                  value:
                    status: Bad Request
                    message: Field 'phone_number' is invalid.
                invalidIdFormat:
                  summary: Invalid ID number format
                  value:
                    status: Bad Request
                    message: Invalid ID number format for the specified country and ID type.
        '401':
          description: Unauthorized — invalid or missing authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unauthorized
                message: Invalid authentication credentials.
        '402':
          description: Payment Required — insufficient wallet balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Payment Required
                message: Insufficient wallet balance.
        '403':
          description: Forbidden — partner not authorized for this product, ID type, or IP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                productAccess:
                  summary: Product not enabled
                  value:
                    status: Forbidden
                    message: Product not enabled for this partner.
                idTypeDisabled:
                  summary: ID type not enabled
                  value:
                    status: Forbidden
                    message: ID type not enabled for this partner.
                productionAccess:
                  summary: Production access denied
                  value:
                    status: Forbidden
                    message: Production access is not enabled.
                sdkVersion:
                  summary: SDK version blocked
                  value:
                    status: Forbidden
                    message: SDK version not allowed.
        '413':
          description: Content Too Large — an uploaded file exceeds the size limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Content Too Large
                message: File is too large.
        '415':
          description: Unsupported Media Type — request must be multipart/form-data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unsupported Media Type
                message: Unsupported Media Type. Required Content-Type is multipart/form-data
        '429':
          description: Too Many Requests — rate limit exceeded for this ID number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Too Many Requests
                message: Rate limit exceeded. Please try again later.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Internal Server Error
                message: An unexpected error occurred. Please try again or contact support.
  /v3/aml:
    post:
      operationId: submitOneTimeAml
      tags:
        - One-Time AML
      security:
        - SmileIDToken: []
      summary: Submit One-Time AML screening
      description: >-
        Screens the supplied full name (and optional aliases/birth year) against sanctions, PEP, and
        adverse-media lists for the given countries. Results are delivered asynchronously via
        callback URL. No human review is performed — the callback carries a terminal outcome.
      parameters:
        - name: SmileID-Source-SDK
          in: header
          required: false
          description: Source SDK identifier.
          schema:
            type: string
            example: android
        - name: SmileID-Source-SDK-Version
          in: header
          required: false
          description: Source SDK version.
          schema:
            type: string
            example: 10.4.2
        - name: SmileID-Timestamp
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            ISO 8601 timestamp used as the salt when computing SmileID-Request-Signature. Required
            when your Smile ID account is configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            format: date-time
            example: '2026-03-10T12:00:00.000Z'
        - name: SmileID-Request-Signature
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            HMAC signature of the raw HTTP request body, computed with your SDK/partner secret and
            the value of SmileID-Timestamp as salt. Required when your Smile ID account is
            configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            example: 4f2d9c6b8a7e3f1c0d5e4b3a2c1f9e8d7c6b5a4f3e2d1c0b9a8f7e6d5c4b3a2
        - name: User-ID
          in: header
          required: false
          description: >-
            Partner-provided user identifier. Must agree with body `user_id` and any token-bound
            user id — disagreement is a 403. If omitted everywhere, a TypeID is generated
            automatically.
          schema:
            type: string
      requestBody:
        required: true
        description: >-
          Sent as multipart/form-data. Scalar fields (full_name, birth_year, strict_match,
          search_existing_user, user_id, source_sdk, source_sdk_version) are plain form fields.
          Non-scalar fields must be sent as JSON-encoded strings in their form part: the array
          fields countries and aliases (e.g. countries='["NG","KE"]') and the object fields consent,
          user_details, metadata, and partner_params. Multipart has no native array encoding, so a
          bare or repeated countries field is rejected — it must be a JSON array string.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OneTimeAmlRequest'
      responses:
        '202':
          description: Accepted — screening submitted for async processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneTimeAmlAcceptedResponse'
              example:
                status: accepted
                message: Job submitted successfully
                job_id: job_01h8x9y2z3a4b5c6d7e8f9g0h1
                user_id: user_01h8x9y2z3a4b5c6d7e8f9g0h1
        '400':
          description: Bad Request — validation error in request body or headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                missingCountries:
                  summary: Missing or invalid countries
                  value:
                    status: Bad Request
                    message: Required field 'countries' is missing or invalid.
                missingFullName:
                  summary: Missing or invalid full_name
                  value:
                    status: Bad Request
                    message: Required field 'full_name' is missing or invalid.
                invalidBirthYear:
                  summary: Invalid birth_year
                  value:
                    status: Bad Request
                    message: Field 'birth_year' is invalid.
                invalidStrictMatch:
                  summary: Invalid strict_match
                  value:
                    status: Bad Request
                    message: Field 'strict_match' is invalid.
                tooManyAliases:
                  summary: Too many aliases
                  value:
                    status: Bad Request
                    message: Field 'aliases' must contain at most 20 entries.
                aliasTooLong:
                  summary: Alias entry too long
                  value:
                    status: Bad Request
                    message: Field 'aliases' entries must be at most 256 characters.
                missingUserIdForSearch:
                  summary: user_id required when search_existing_user is true
                  value:
                    status: Bad Request
                    message: >-
                      Required field 'user_id' is missing or invalid when search_existing_user is
                      true.
                missingConsent:
                  summary: Consent not granted
                  value:
                    status: Bad Request
                    message: Required field 'consent.granted' is missing or invalid.
                futureConsent:
                  summary: consent.granted_at in the future
                  value:
                    status: Bad Request
                    message: Required field 'consent.granted_at' cannot be set in the future.
                missingUserDetails:
                  summary: Missing user_details.given_names
                  value:
                    status: Bad Request
                    message: Required field 'user_details.given_names' is missing or invalid.
                missingContact:
                  summary: Missing email and phone
                  value:
                    status: Bad Request
                    message: Either user_details.email or user_details.phone_number is required.
                missingCallbackUrl:
                  summary: Missing callback_url and no default set
                  value:
                    status: Bad Request
                    message: Required field 'callback_url' is missing or invalid.
        '401':
          description: Unauthorized — invalid or missing authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unauthorized
                message: Invalid authentication credentials.
        '402':
          description: Payment Required — insufficient wallet balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Payment Required
                message: Insufficient wallet balance.
        '403':
          description: Forbidden — partner not authorized for this product or IP, or user_id conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                userIdConflict:
                  summary: Body/header/token user_id disagree
                  value:
                    status: Forbidden
                    message: Token is not authorized for this user ID.
                productAccess:
                  summary: Product not enabled
                  value:
                    status: Forbidden
                    message: Product not enabled for this partner.
                productionAccess:
                  summary: Production access denied
                  value:
                    status: Forbidden
                    message: Production access is not enabled.
                sdkVersion:
                  summary: SDK version blocked
                  value:
                    status: Forbidden
                    message: SDK version not allowed.
        '404':
          description: >-
            Not Found — `search_existing_user` was true but no matching enrollee or usable prior
            record was found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                noEnrollee:
                  summary: No enrolled user found for this partner
                  value:
                    status: Not Found
                    message: No enrolled user found for this partner.
                noUsablePriorRecord:
                  summary: No usable prior KYC record
                  value:
                    status: Not Found
                    message: No prior KYC record with a usable name and country was found for this user.
        '413':
          description: Content Too Large — the request payload exceeds the size limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Content Too Large
                message: Request payload is too large.
        '415':
          description: Unsupported Media Type — request must be multipart/form-data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unsupported Media Type
                message: Unsupported Media Type. Required Content-Type is multipart/form-data
        '429':
          description: Too Many Requests — rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Too Many Requests
                message: Rate limit exceeded. Please try again later.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Internal Server Error
                message: An unexpected error occurred. Please try again or contact support.
      callbacks:
        oneTimeAmlResult:
          '{$request.body#/callback_url}':
            post:
              summary: One-Time AML result callback
              description: >-
                Sent once the screening reaches a terminal state (clear, block, attention, or
                error). The same body is returned by `GET /v3/status/{jobId}`-driven polling flows
                that reconstruct the result, and by `POST /v3/replay/{job_id}`.
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/OneTimeAmlCallback'
                    examples:
                      clear:
                        summary: 1031 — no matches found
                        value:
                          status: clear
                          message: 'Screening completed: no matches found.'
                          reason: null
                          created_at: '2026-07-20T12:00:00.000Z'
                          completed_at: '2026-07-20T12:00:01.000Z'
                          product: one_time_aml
                          partner_params: null
                          kyc_receipt: https://receipts.smileidentity.com/...
                          strict_match: true
                          no_of_persons_found: 0
                          people: []
                          user_provided_info:
                            given_names: Nkechi
                            last_name: Okafor
                            email: nkechi.okafor@example.com
                            phone_number: null
                          consent: {}
                          antifraud: null
                          device_signals: null
                      block_match_found:
                        summary: 1030/1023 — potential match(es) identified
                        value:
                          status: block
                          message: 'Screening completed: potential matches identified.'
                          reason: aml_match_found
                          created_at: '2026-07-20T12:00:00.000Z'
                          completed_at: '2026-07-20T12:00:01.000Z'
                          product: one_time_aml
                          partner_params: null
                          kyc_receipt: https://receipts.smileidentity.com/...
                          strict_match: true
                          no_of_persons_found: 1
                          people:
                            - name: Gbenga Afolabi
                              addresses: []
                              aliases: []
                              associations: []
                              dates_of_birth: []
                              enforcement_actions: []
                              nationalities: []
                              sanctions:
                                - list: OFAC SDN
                              pep:
                                pep_level: 1
                                political_positions:
                                  - Member of Parliament
                                sources: []
                          user_provided_info:
                            given_names: Gbenga
                            last_name: Afolabi
                            email: null
                            phone_number: '+2348012345678'
                          consent: {}
                          antifraud: null
                          device_signals: null
                      attention_news_media:
                        summary: 1017 — news media only
                        value:
                          status: attention
                          message: 'Screening completed: news media identified only.'
                          reason: news_media_match
                          created_at: '2026-07-20T12:00:00.000Z'
                          completed_at: '2026-07-20T12:00:01.000Z'
                          product: one_time_aml
                          partner_params: null
                          kyc_receipt: https://receipts.smileidentity.com/...
                          strict_match: true
                          no_of_persons_found: 1
                          people:
                            - name: Bukola Oni
                              addresses: []
                              news_summary:
                                - news_category: financial_crime
                                  news_category_label: Financial Crime
                                  number_of_articles: 3
                              aliases: []
                              associations: []
                              dates_of_birth: []
                              enforcement_actions: []
                              nationalities: []
                              sanctions: []
                              pep:
                                pep_level: null
                                political_positions: []
                                sources: []
                          user_provided_info:
                            given_names: Bukola
                            last_name: Oni
                            email: bukola.oni@example.com
                            phone_number: null
                          consent: {}
                          antifraud: null
                          device_signals: null
                      error_service_unavailable:
                        summary: 1015 — provider unavailable
                        value:
                          status: error
                          message: 'Error: external service unavailable.'
                          reason: service_unavailable
                          created_at: '2026-07-20T12:00:00.000Z'
                          completed_at: '2026-07-20T12:00:01.000Z'
                          product: one_time_aml
                          partner_params: null
                          kyc_receipt: null
                          strict_match: true
                          no_of_persons_found: 0
                          people: []
                          user_provided_info:
                            given_names: Ngozi
                            last_name: Ifeoma
                            email: ngozi.ifeoma@example.com
                            phone_number: null
                          consent: {}
                          antifraud: null
                          device_signals: null
                      block_high_risk:
                        summary: High antifraud risk — overrides any provider result
                        value:
                          status: block
                          message: Verification failed.
                          reason: high_risk
                          created_at: '2026-07-20T12:00:00.000Z'
                          completed_at: '2026-07-20T12:00:01.000Z'
                          product: one_time_aml
                          partner_params: null
                          kyc_receipt: https://receipts.smileidentity.com/...
                          strict_match: true
                          no_of_persons_found: 0
                          people: []
                          user_provided_info:
                            given_names: Rashid
                            last_name: Omar
                            email: rashid.omar@example.com
                            phone_number: null
                          consent: {}
                          antifraud:
                            fraud_risk_level: high
                            fraud_risk_score: 92
                            fraud_risk_indicator_groups:
                              - device_risk
                          device_signals: null
              responses:
                '200':
                  description: Callback received and acknowledged by the partner endpoint.
  /v3/aml/sync:
    post:
      operationId: submitOneTimeAmlSync
      tags:
        - One-Time AML
      security:
        - SmileIDToken: []
      summary: Submit One-Time AML screening and receive the result inline
      description: >-
        Synchronous counterpart to `POST /v3/aml`. Runs the same One-Time AML screening (job type
        15) and returns the terminal result in the response body instead of delivering it to a
        callback URL, so a verification can be completed in a single request without hosting a
        public webhook endpoint.

        The request body and every entry validation are identical to the async endpoint, with one
        exception: `callback_url` is optional here. If you do supply one it is stored so `POST
        /v3/replay/{job_id}` can use it later, but no webhook is ever sent — the result is in this
        response.

        The 200 body is exactly the payload the async callback would have delivered, so a partner
        can move between the two endpoints without changing how they parse a result.

        The response carries `Response-Signature` and `Response-Timestamp`, computed the same way as
        on our webhooks, so existing signature verification applies unchanged.

        Screening is performed inline against the provider, so this endpoint is slower than the
        async one and is bounded by a request deadline. If the provider does not answer within it,
        the response is a 408 and no charge is made.

        Every response returned after the job is created carries a `SmileID-Job-ID` header, and a
        completed screening can always be read back from `GET /v3/status/{jobId}` — so if you have a
        job id, read it rather than resubmitting. If you do not (a network failure, or the gateway
        timing the request out on its own), resubmit with the same `SmileID-Idempotency-Key`: the
        retry resolves to the same job and returns the original result instead of running a second,
        separately billed screening.
      parameters:
        - name: SmileID-Source-SDK
          in: header
          required: false
          description: Source SDK identifier.
          schema:
            type: string
            example: android
        - name: SmileID-Source-SDK-Version
          in: header
          required: false
          description: Source SDK version.
          schema:
            type: string
            example: 10.4.2
        - name: SmileID-Timestamp
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            ISO 8601 timestamp used as the salt when computing SmileID-Request-Signature. Required
            when your Smile ID account is configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            format: date-time
            example: '2026-03-10T12:00:00.000Z'
        - name: SmileID-Request-Signature
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            HMAC signature of the raw HTTP request body, computed with your SDK/partner secret and
            the value of SmileID-Timestamp as salt. Required when your Smile ID account is
            configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            example: 4f2d9c6b8a7e3f1c0d5e4b3a2c1f9e8d7c6b5a4f3e2d1c0b9a8f7e6d5c4b3a2
        - name: User-ID
          in: header
          required: false
          description: >-
            Partner-provided user identifier. Must agree with body `user_id` and any token-bound
            user id — disagreement is a 403. If omitted everywhere, a TypeID is generated
            automatically.
          schema:
            type: string
        - name: SmileID-Idempotency-Key
          in: header
          required: false
          description: >-
            Opaque key, 16 to 128 characters of `A-Z a-z 0-9 - _`, that makes a submission safe to
            repeat. The job id is derived from it, so a request carrying a key you have already used
            resolves to that same job: it returns the original result and screens — and bills —
            nothing a second time. Send one whenever you might retry, since a retry without a key
            starts a new, separately billed screening.
          schema:
            type: string
            example: kuda-onboarding-8f14e45fceea167a
      requestBody:
        required: true
        description: >-
          Identical to `POST /v3/aml`, except that `callback_url` is optional because no callback is
          sent. Sent as multipart/form-data. Scalar fields (full_name, birth_year, strict_match,
          search_existing_user, user_id, source_sdk, source_sdk_version) are plain form fields.
          Non-scalar fields must be sent as JSON-encoded strings in their form part: the array
          fields countries and aliases (e.g. countries='["NG","KE"]') and the object fields consent,
          user_details, metadata, and partner_params. Multipart has no native array encoding, so a
          bare or repeated countries field is rejected — it must be a JSON array string.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OneTimeAmlRequest'
      responses:
        '200':
          description: >-
            Screening completed. The body is the terminal result — the same payload the async
            callback would have delivered.
          headers:
            Response-Signature:
              description: >-
                Signature over Response-Timestamp and your partner id, keyed with your API key.
                Identical in construction to the signature we send on webhooks, so existing
                verification code applies unchanged.
              schema:
                type: string
                example: Zm9vYmFyYmF6cXV4MTIzNDU2Nzg5MGFiY2RlZmdoaWo=
            Response-Timestamp:
              description: ISO 8601 timestamp the signature was computed over.
              schema:
                type: string
                format: date-time
                example: '2026-07-20T12:00:01.000Z'
            SmileID-Job-ID:
              description: The Smile job id for this screening.
              schema:
                type: string
                example: job_01h8x9y2z3a4b5c6d7e8f9g0h1
            User-ID:
              description: The partner-scoped user id for this screening.
              schema:
                type: string
                example: user_01h8x9y2z3a4b5c6d7e8f9g0h1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneTimeAmlCallback'
              examples:
                clear:
                  summary: 1031 — no matches found
                  value:
                    status: clear
                    message: 'Screening completed: no matches found.'
                    reason: null
                    created_at: '2026-07-20T12:00:00.000Z'
                    completed_at: '2026-07-20T12:00:01.000Z'
                    product: one_time_aml
                    partner_params: null
                    kyc_receipt: https://receipts.smileidentity.com/...
                    strict_match: true
                    no_of_persons_found: 0
                    people: []
                    user_provided_info:
                      given_names: Nkechi
                      last_name: Okafor
                      email: nkechi.okafor@example.com
                      phone_number: null
                    consent: {}
                    antifraud: null
                    device_signals: null
                block_match_found:
                  summary: 1030/1023 — potential match(es) identified
                  value:
                    status: block
                    message: 'Screening completed: potential matches identified.'
                    reason: aml_match_found
                    created_at: '2026-07-20T12:00:00.000Z'
                    completed_at: '2026-07-20T12:00:01.000Z'
                    product: one_time_aml
                    partner_params: null
                    kyc_receipt: https://receipts.smileidentity.com/...
                    strict_match: true
                    no_of_persons_found: 1
                    people:
                      - name: Gbenga Afolabi
                        addresses: []
                        aliases: []
                        associations: []
                        dates_of_birth: []
                        enforcement_actions: []
                        nationalities: []
                        sanctions:
                          - list: OFAC SDN
                        pep:
                          pep_level: 1
                          political_positions:
                            - Member of Parliament
                          sources: []
                    user_provided_info:
                      given_names: Gbenga
                      last_name: Afolabi
                      email: gbenga.afolabi@example.com
                      phone_number: null
                    consent: {}
                    antifraud: null
                    device_signals: null
                attention_news_media:
                  summary: 1017 — news media identified only
                  value:
                    status: attention
                    message: 'Screening completed: news media identified only.'
                    reason: news_media_match
                    created_at: '2026-07-20T12:00:00.000Z'
                    completed_at: '2026-07-20T12:00:01.000Z'
                    product: one_time_aml
                    partner_params: null
                    kyc_receipt: https://receipts.smileidentity.com/...
                    strict_match: true
                    no_of_persons_found: 1
                    people:
                      - name: Bukola Oni
                        addresses: []
                        news_summary:
                          - news_category: financial_crime
                            news_category_label: Financial Crime
                            number_of_articles: 3
                        aliases: []
                        associations: []
                        dates_of_birth: []
                        enforcement_actions: []
                        nationalities: []
                        sanctions: []
                        pep:
                          pep_level: null
                          political_positions: []
                          sources: []
                    user_provided_info:
                      given_names: Bukola
                      last_name: Oni
                      email: bukola.oni@example.com
                      phone_number: null
                    consent: {}
                    antifraud: null
                    device_signals: null
                block_high_risk:
                  summary: Fraud risk blocked the request before screening ran
                  value:
                    status: block
                    message: Verification failed.
                    reason: high_risk
                    created_at: '2026-07-20T12:00:00.000Z'
                    completed_at: '2026-07-20T12:00:01.000Z'
                    product: one_time_aml
                    partner_params: null
                    kyc_receipt: https://receipts.smileidentity.com/...
                    strict_match: true
                    no_of_persons_found: 0
                    people: []
                    user_provided_info:
                      given_names: Rashid
                      last_name: Omar
                      email: rashid.omar@example.com
                      phone_number: null
                    consent: {}
                    antifraud:
                      fraud_risk_level: high
                      fraud_risk_score: 92
                      fraud_risk_indicator_groups:
                        - device_risk
                    device_signals: null
        '400':
          description: Bad Request — validation error in request body or headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                missingCountries:
                  summary: Missing or invalid countries
                  value:
                    status: Bad Request
                    message: Required field 'countries' is missing or invalid.
                missingFullName:
                  summary: Missing or invalid full_name
                  value:
                    status: Bad Request
                    message: Required field 'full_name' is missing or invalid.
        '401':
          description: Unauthorized — invalid or missing authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unauthorized
                message: Invalid authentication credentials.
        '402':
          description: Payment Required — insufficient wallet balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Payment Required
                message: You are out of credits. Add funds to your wallet to run more verifications.
        '403':
          description: >-
            Forbidden — product not enabled, IP not allowlisted, production access not granted, or a
            user id conflict between body, header, and token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                productNotEnabled:
                  summary: One-Time AML not enabled for this partner
                  value:
                    status: Forbidden
                    message: This feature requires you to activate ID Validation for your Smile ID account.
                ipNotAllowed:
                  summary: Caller IP not on the partner allowlist
                  value:
                    status: Forbidden
                    message: You are not authorized to do that.
        '404':
          description: >-
            Not Found — `search_existing_user` was true but no usable prior record exists for this
            user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                noEnrollee:
                  summary: No enrolled user for this partner
                  value:
                    status: Not Found
                    message: No enrolled user found for this partner.
                noUsablePriorRecord:
                  summary: No usable prior KYC record
                  value:
                    status: Not Found
                    message: No prior KYC record with a usable name and country was found for this user.
        '408':
          description: >-
            Request Timeout — the screening provider did not answer within the request deadline, so
            no result was produced and nothing is billed. The job exists and is terminal in `error`,
            so `GET /v3/status/{jobId}` will only ever return that error: resubmit rather than poll.
            Send `SmileID-Idempotency-Key` to make the resubmission safe to repeat.
          headers:
            SmileID-Job-ID:
              description: The Smile job id to poll for this screening.
              schema:
                type: string
                example: job_01h8x9y2z3a4b5c6d7e8f9g0h1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Request Timeout
                message: >-
                  The screening provider did not respond in time. The job is still recorded —
                  retrieve its result from /v3/status/{job_id}.
        '413':
          description: Content Too Large — the request payload exceeds the size limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Content Too Large
                message: Request payload is too large.
        '415':
          description: Unsupported Media Type — request must be multipart/form-data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unsupported Media Type
                message: Unsupported Media Type. Required Content-Type is multipart/form-data
        '429':
          description: Too Many Requests — rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Too Many Requests
                message: Rate limit exceeded. Please try again later.
        '500':
          description: >-
            Internal Server Error. A screening that could not be completed for an internal reason is
            reported here rather than as a 200 carrying `status: error`. As with a 408, the job
            exists and its outcome can be read from `GET /v3/status/{jobId}`.
          headers:
            SmileID-Job-ID:
              description: >-
                The Smile job id to poll for this screening. Present when the failure happened after
                the job was created.
              schema:
                type: string
                example: job_01h8x9y2z3a4b5c6d7e8f9g0h1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Internal Server Error
                message: An unexpected error occurred. Please try again or contact support.
  /v3/replay/{job_id}:
    post:
      operationId: replayCallback
      tags:
        - Callback Replay
      security:
        - SmileIDToken: []
      summary: Replay a callback for a completed verification
      description: >-
        Looks up a previously completed verification by its TypeID, resolves the callback URL, and
        re-sends the callback. The verification must have reached a terminal state (clear, block,
        attention, or error) before its callback can be replayed.

        An optional `callback_url` in the request body overrides the stored URL, subject to the
        partner's callback domain allowlist.
      parameters:
        - name: job_id
          in: path
          required: true
          description: TypeID format verification identifier with 'job_' prefix.
          schema:
            type: string
            pattern: ^job_[0-9a-z]{26}$
            example: job_01h2xcejqtf2nbrexx3vqjhp41
      requestBody:
        required: false
        description: >-
          Optional body to override the callback URL. If omitted, the stored callback URL (from the
          original verification or partner default) is used.

          Send the body as `multipart/form-data`. Any other content type is rejected with 415.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ReplayCallbackRequest'
            example:
              callback_url: https://partner.example.com/webhook
      responses:
        '202':
          description: Callback replay accepted and queued for delivery.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplayCallbackResponse'
              example:
                status: accepted
                job_id: job_01h2xcejqtf2nbrexx3vqjhp41
                user_id: test-user
                message: Callback replay queued successfully.
        '400':
          description: >-
            Bad Request — invalid job_id format, unrecognised product, or no valid callback URL
            available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                invalidJobId:
                  summary: Invalid TypeID format
                  value:
                    status: Bad Request
                    message: '"job_id" must be a valid TypeID with prefix ''job_'''
                noCallbackUrl:
                  summary: No callback URL resolvable
                  value:
                    status: Bad Request
                    message: No valid callback URL available
                unknownProduct:
                  summary: Product cannot be inferred
                  value:
                    status: Bad Request
                    message: Unable to determine product for this job
        '401':
          description: Unauthorized — invalid or missing authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unauthorized
                message: Invalid authentication credentials.
        '403':
          description: >-
            Forbidden — IP not in allowlist, callback URL not in allowed domains, or security checks
            failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Forbidden
                message: You are not authorized to do that.
        '404':
          description: >-
            Not Found — verification does not exist, does not belong to this partner, or has no
            reference entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                jobNotFound:
                  summary: Verification not found or belongs to another partner
                  value:
                    status: Not Found
                    message: Job not found
                referenceNotFound:
                  summary: Reference entry missing for the verification
                  value:
                    status: Not Found
                    message: Reference not found for this job
        '409':
          description: >-
            Conflict — verification has not yet reached a terminal state. Wait for processing to
            complete before replaying the callback.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Conflict
                message: Job is still processing. Callbacks can only be replayed for completed jobs.
        '415':
          description: >-
            Unsupported Media Type — a body was sent with a `Content-Type` other than
            `multipart/form-data`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unsupported Media Type
                message: Unsupported Media Type. Required Content-Type is multipart/form-data
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Internal Server Error
                message: An unexpected error occurred. Please try again or contact support.
  /v3/users/{user_id}/report_fraud:
    post:
      operationId: reportUserFraud
      tags:
        - Users
      summary: Flag or clear fraud status for a user
      description: |
        Records a fraud report (or fraud-clearance) for a previously enrolled
        user.

        Use `is_fraud: true` to flag a user as fraudulent, or `is_fraud: false`
        to clear a previous flag. Flagging propagates the user's face, device,
        and biometric clusters to the relevant block lists so that subsequent
        verifications matching them are rejected. Clearing the flag reverses
        these effects.

        The response is `202 Accepted` once the request has been validated
        and handled.
      security:
        - SmileIDToken: []
      parameters:
        - name: user_id
          in: path
          required: true
          description: |
            The partner-scoped user identifier of the enrolled user being
            reported. This is the `user_id` value originally provided during
            enrollment.
          schema:
            type: string
          example: user-123
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ReportUserFraudRequest'
            examples:
              flagFirstParty:
                summary: Flag a user (reason only)
                value:
                  is_fraud: true
                  reason: FIRST_PARTY_FRAUD
                  reported_by: risk@partner.example
              flagWithNotes:
                summary: Flag a user with optional notes
                value:
                  is_fraud: true
                  reason: ACCOUNT_TAKEOVER
[...]
