openapi: 3.0.3
servers:
  - url: https://testapi.smileidentity.com
    description: Sandbox
  - url: https://api.smileidentity.com
    description: Production
info:
  contact:
    name: Smile ID Support
    url: https://docs.usesmileid.com
    email: support@usesmileid.com
  title: V3 AML Monitoring News Media API
  version: '1.0.0'
  description: >-
    Retrieves adverse-media news details for a specific person reference within
    an existing V3 AML Monitoring job.

    This endpoint wraps Sigma's monitoring news results and returns normalized
    snake_case response keys, plus V3 metadata fields: user_id, job_id, and
    product (always aml_monitoring_news).
tags:
  - name: AML Monitoring News
paths:
  /v3/aml/monitoring/{job_id}/news/{reference}:
    get:
      operationId: getAmlMonitoringNews
      tags:
        - AML Monitoring News
      security:
        - SmileIDToken: []
      summary: Get AML Monitoring news media details for a reference
      parameters:
        - name: job_id
          in: path
          required: true
          description: Partner job identifier for an existing V3 AML Monitoring job.
          schema:
            type: string
            example: a1b2c3d4e5
        - name: reference
          in: path
          required: true
          description: Person reference (ref) from the AML Monitoring result set.
          schema:
            type: string
            example: ref_001
        - name: news_category
          in: query
          required: true
          description: News category to filter media events.
          schema:
            type: string
            example: financial_crime
            enum:
              - arms_trafficking
              - credit_update
              - environmental_crime
              - financial_crime
              - human_rights_violation
              - leadership_change
              - legal_risk
              - location_change
              - narcotics
              - other
              - other_crime
              - ownership_change
              - product_change
              - regulatory
              - sexual_crime
              - technology_event
              - terrorism
              - violent_crime
        - name: page
          in: query
          required: false
          description: Results page number. Defaults to 1. Maximum is 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 1
            example: 1
        - name: limit
          in: query
          required: false
          description: Number of items per page. Defaults to 25. Maximum is 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
            example: 25
        - name: SmileID-Source-SDK
          in: header
          required: false
          description: Source SDK identifier.
          schema:
            type: string
            example: android
        - name: SmileID-Source-SDK-Version
          in: header
          required: false
          description: Source SDK version.
          schema:
            type: string
            example: 10.4.2
        - name: SmileID-Timestamp
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            ISO 8601 timestamp used as the salt when computing SmileID-Request-Signature. Required
            when your Smile ID account is configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            format: date-time
            example: '2026-03-10T12:00:00.000Z'
        - name: SmileID-Request-Signature
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            HMAC signature of the raw HTTP request payload, computed with your SDK/partner secret
            and the value of SmileID-Timestamp as salt. Required when your Smile ID account is
            configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            example: 4f2d9c6b8a7e3f1c0d5e4b3a2c1f9e8d7c6b5a4f3e2d1c0b9a8f7e6d5c4b3a2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmlMonitoringNewsResponse'
              examples:
                success:
                  value:
                    job_id: a1b2c3d4e5
                    product: aml_monitoring_news
                    user_id: user_123
                    meta:
                      current_page: 1
                      limit: 25
                      total_count: 1
                    news:
                      - body: Sample adverse-media content.
                        published_date: '2026-01-15T12:00:00.000Z'
                        publisher: Example News Publisher
                        publisher_country_code: NG
                        title: Sample AML Monitoring News Item
                        url: https://example.com/news/sample-aml-monitoring
        '400':
          description: Bad Request — request validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                missingNewsCategory:
                  summary: Missing required news_category query parameter
                  value:
                    status: Bad Request
                    message: news_category is required
                invalidNewsCategory:
                  summary: Unsupported news_category value
                  value:
                    status: Bad Request
                    message: >-
                      news_category must be one of: arms_trafficking, credit_update,
                      environmental_crime, financial_crime, human_rights_violation,
                      leadership_change, legal_risk, location_change, narcotics, other,
                      other_crime, ownership_change, product_change, regulatory,
                      sexual_crime, technology_event, terrorism, violent_crime
        '404':
          description: Not Found — AML job or reference not found for this partner scope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                jobNotFound:
                  summary: Job does not exist for this partner or token user
                  value:
                    status: Not Found
                    message: No AML job found for this partner
                referenceNotFound:
                  summary: Reference does not exist in AML result set for this job
                  value:
                    status: Not Found
                    message: REF not found for this AML job
        '401':
          description: Unauthorized — invalid or missing authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unauthorized
                message: Invalid authentication credentials.
        '502':
          description: Bad Gateway — upstream provider returned a permanent client-side failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Bad Gateway
                message: Unable to complete request due to upstream provider error.
        '403':
          description: Forbidden — partner does not have access to this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Forbidden
                message: Product not enabled for this partner.
        '503':
          description: Service Unavailable — upstream provider is temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Service Unavailable
                message: Upstream provider is temporarily unavailable. Please try again later.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Internal Server Error
                message: An unexpected error occurred. Please try again or contact support.
components:
  securitySchemes:
    SmileIDToken:
      type: apiKey
      in: header
      name: SmileID-Token
      description: JWT token obtained from `POST /v3/token`.
      x-gitbook-token-placeholder: YOUR_GENERATED_TOKEN
  schemas:
    AmlMonitoringNewsResponse:
      type: object
      required:
        - job_id
        - product
        - user_id
        - meta
        - news
      properties:
        job_id:
          type: string
          description: Partner job identifier.
          example: a1b2c3d4e5
        product:
          type: string
          description: Product identifier for this endpoint.
          enum:
            - aml_monitoring_news
        user_id:
          type: string
          description: Partner user identifier tied to the monitoring job.
          example: user_123
        meta:
          type: object
          required:
            - current_page
            - limit
            - total_count
          properties:
            current_page:
              type: integer
              example: 1
            limit:
              type: integer
              example: 25
            total_count:
              type: integer
              example: 2
        news:
          type: array
          items:
            $ref: '#/components/schemas/AmlMonitoringNewsItem'
    AmlMonitoringNewsItem:
      type: object
      required:
        - body
        - published_date
        - publisher
        - publisher_country_code
        - title
        - url
      properties:
        body:
          type: string
          example: Sample adverse-media content.
        published_date:
          type: string
          example: '2023-01-01'
        publisher:
          type: string
          example: Publisher 1
        publisher_country_code:
          type: string
          example: NG
        title:
          type: string
          example: Sample AML Monitoring News Item
        url:
          type: string
          example: www.example.com/article1
    ApiErrorResponse:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          description: HTTP status text.
          example: Bad Request
        message:
          type: string
          description: Human-readable error message.
          example: Invalid request.
