openapi: 3.0.3
servers:
  - url: https://testapi.smileidentity.com
    description: Sandbox
  - url: https://api.smileidentity.com
    description: Production
info:
  title: V3 Biometric Authentication API
  version: '1.0.0'
  description: >-
    Async biometric authentication endpoint (Smart Selfie™ Authentication).
    Accepts a selfie image and liveness images, validates at entry, and queues the job
    for async processing. The selfie is compared against the user's previously enrolled image.
    Returns HTTP 202 with a job_id and user_id to track the result via callback.

    Authentication: token-based (token header from /v3/token).

    At least one of `email` or `phone_number` is required. The `user_id` field is required
    and must match an existing enrolled user.
paths:
  /v3/authentication:
    post:
      summary: Submit biometric authentication
      operationId: v3BiometricAuthentication
      tags:
        - Biometric Authentication
      security:
        - SmileIDToken: []
      description: >-
        Authenticates a user by comparing a submitted selfie against their enrolled image.
        The selfie and liveness images are uploaded, validated at entry, then queued for
        async ML processing (passive liveness, active liveness, face matching).
        Results are delivered via callback URL.

        Supports `use_enrolled_image: true` to skip selfie/liveness upload and re-use the
        enrolled image for the comparison (useful for server-side re-verification).
      parameters:
        - name: SmileID-Source-SDK
          in: header
          required: false
          description: Source SDK identifier.
          schema:
            type: string
            example: 'android'
        - name: SmileID-Source-SDK-Version
          in: header
          required: false
          description: Source SDK version.
          schema:
            type: string
            example: '10.4.2'
        - name: SmileID-Timestamp
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            ISO 8601 timestamp used as the salt when computing SmileID-Request-Signature.
          schema:
            type: string
            format: date-time
        - name: SmileID-Request-Signature
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            HMAC signature of the raw HTTP request body.
          schema:
            type: string
        - name: User-ID
          in: header
          required: false
          description: >-
            Partner-provided user identifier override.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BiometricAuthenticationRequest'
            encoding:
              selfie_image:
                contentType: image/jpeg
              liveness_images:
                contentType: image/jpeg
      responses:
        '202':
          description: Accepted — job queued for async processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
              example:
                status: accepted
                message: Request accepted and queued for processing.
                job_id: job_01h8x9y2z3a4b5c6d7e8f9g0h1
                user_id: user_auth_001
                created_at: '2026-03-10T12:00:00.000Z'
        '400':
          description: Bad Request — validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                missingCallbackUrl:
                  summary: Missing callback_url and no default set
                  value:
                    status: Bad Request
                    message: A valid callback_url is required in the request or a default callback URL must be configured in the portal.
                missingUserId:
                  summary: Missing user_id
                  value:
                    status: Bad Request
                    message: "Required field 'user_id' is missing or invalid."
                missingContact:
                  summary: Missing email and phone
                  value:
                    status: Bad Request
                    message: Either email or phone_number is required.
        '401':
          description: Unauthorized — invalid or missing authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '402':
          description: Payment Required — insufficient wallet balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: Forbidden — partner not authorized for this product or IP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '415':
          description: Unsupported Media Type — request must be multipart/form-data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests — rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

components:
  securitySchemes:
    SmileIDToken:
      type: apiKey
      in: header
      name: SmileID-Token
      description: JWT token obtained from `POST /v3/token`.
  schemas:
    BiometricAuthenticationRequest:
      type: object
      required:
        - user_id
        - consent
        - user_details
      anyOf:
        - required: [selfie_image, liveness_images]
        - required: [use_enrolled_image]
          properties:
            use_enrolled_image:
              type: boolean
              enum: [true]
      properties:
        user_id:
          type: string
          description: >-
            The enrolled user's identifier. Must match an existing enrollee.
          example: user_auth_001
        selfie_image:
          type: string
          format: binary
          description: >-
            JPEG selfie image for authentication. Required unless use_enrolled_image is true.
        liveness_images:
          type: array
          minItems: 6
          maxItems: 8
          items:
            type: string
            format: binary
          description: >-
            Array of JPEG liveness images. Required unless use_enrolled_image is true.
        consent:
          $ref: '#/components/schemas/Consent'
        user_details:
          type: object
          required:
            - given_names
            - last_name
          anyOf:
            - required: [email]
            - required: [phone_number]
          description: >-
            Consumer-stated PII fields for the user.
            Either email or phone_number must be provided.
          properties:
            given_names:
              type: string
              minLength: 1
              example: Jane
            last_name:
              type: string
              minLength: 1
              example: Smith
            email:
              type: string
              format: email
              nullable: true
              description: At least one of email or phone_number is required.
              example: jane@example.com
            phone_number:
              type: string
              pattern: '^\+[1-9]\d{6,14}$'
              nullable: true
              description: Phone number in E.164 format. At least one of email or phone_number is required.
              example: '+2348012345678'
        use_enrolled_image:
          type: boolean
          default: false
          description: >-
            If true, skips selfie and liveness image upload and uses the enrolled image
            for re-verification. Useful for server-side re-authentication.
        callback_url:
          type: string
          format: uri
          pattern: '^https://'
          description: URL to receive the async result callback.
          example: https://example.com/callback
        sandbox_result:
          type: number
          description: Force a specific result code in sandbox mode.
        partner_params:
          type: object
          additionalProperties:
            type: string
        metadata:
          type: array
          items:
            type: object
            required: [name, value]
            properties:
              name:
                type: string
                maxLength: 100
              value:
                type: string
                maxLength: 1000

    Consent:
      type: object
      required: [granted, granted_at, notice_language, notice_privacy_policy_url]
      properties:
        granted:
          type: boolean
          enum: [true]
          description: Must be true; user has granted consent.
        granted_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when consent was granted.
          example: '2026-03-06T12:00:00.000Z'
        notice_language:
          type: string
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
          description: ISO 639-1 language code of the privacy notice shown, uppercase.
          example: EN
        notice_privacy_policy_url:
          type: string
          format: uri
          pattern: '^https://'
          description: HTTPS URL of the privacy policy notice shown to the user.
          example: https://example.com/privacy

    AcceptedResponse:
      type: object
      required:
        - status
        - message
        - job_id
        - user_id
        - created_at
      properties:
        status:
          type: string
          enum: [accepted]
          description: Acceptance status for queued verification requests.
        message:
          type: string
          description: Human-readable acceptance message.
          example: Request accepted and queued for processing.
        job_id:
          type: string
          description: TypeID format verification identifier for tracking.
          example: job_01h8x9y2z3a4b5c6d7e8f9g0h1
        user_id:
          type: string
          description: TypeID format user identifier, or partner-provided user identifier.
          example: user_01h8x9y2z3a4b5c6d7e8f9g0h1
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the verification was created.
          example: '2026-03-10T12:00:00.000Z'

    ApiErrorResponse:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          description: HTTP status text.
          example: Bad Request
        message:
          type: string
          description: Human-readable error message.
          example: Invalid request.
