openapi: 3.0.3
servers:
  - url: https://testapi.smileidentity.com
    description: Sandbox
  - url: https://api.smileidentity.com
    description: Production
info:
  contact:
    name: Smile ID Support
    url: https://docs.usesmileid.com
    email: support@usesmileid.com
  title: V3 Residency Document Verification API
  version: '1.0.0'
  description: >-
    Async Residency Document Verification endpoint. Accepts everything standard Document Verification takes — a selfie image, liveness images and a document image (front, and optionally back) — plus the visa endorsed in that document. Both documents are read: the identity document is verified first, and the visa is then read and confirmed by a human reviewer. The id_type field is optional — the document type can be auto-classified if not provided. Returns HTTP 202 with a job_id and user_id to track the result via callback.

    Every submission is reviewed by a person before it completes. A confirmed visa type is the point of the product and only a human supplies it, so a clean automated read does not short-circuit the review. Expect results to take materially longer to arrive than standard Document Verification, and rely on the callback rather than polling.

    If the identity document itself fails verification, the job fails there and the visa is never read.

    Authentication: token-based (token header from /v3/token).

    At least one of `email` or `phone_number` is required.

    Token Payload: Identity fields (country, id_type, given_names, last_name, email, phone_number, callback_url) and the ISO 27560 consent fields can be bound to the authentication token via the token payload feature at /v3/token (PII fields are held as opaque references, never raw values). When present in the token, these fields are injected automatically and override any values in the request body. Fields provided via the token do not need to be repeated in the request body; GET /v3/services/config lists them as token_provided_fields.
tags:
  - name: Residency Document Verification
paths:
  /v3/residency_document_verification:
    post:
      summary: Submit Residency Document Verification
      operationId: v3ResidencyDocumentVerificationEntry
      tags:
        - Residency Document Verification
      security:
        - SmileIDToken: []
      description: >-
        Verifies a user's identity by comparing a selfie against a document image, and additionally reads the visa endorsed in that document. The selfie and liveness images are uploaded alongside a document photo (front, and optionally back) and the visa. The id_type is optional — the document type is auto-classified if not provided. The visa is always confirmed by a human reviewer, so results take longer than standard Document Verification. Results are delivered asynchronously via callback URL.
      parameters:
        - name: SmileID-Partner-ID
          in: header
          required: true
          description: Partner identifier (numeric, 3+ digits).
          schema:
            type: string
            pattern: '^\d{3,}$'
            example: '1234'
        - name: SmileID-Source-SDK
          in: header
          required: false
          description: Source SDK identifier.
          schema:
            type: string
            example: 'android'
        - name: SmileID-Source-SDK-Version
          in: header
          required: false
          description: Source SDK version.
          schema:
            type: string
            example: '10.4.2'
        - name: SmileID-Timestamp
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            ISO 8601 timestamp used as the salt when computing SmileID-Request-Signature. Required when your Smile ID account is configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            format: date-time
            example: '2026-03-10T12:00:00.000Z'
        - name: SmileID-Request-Signature
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            HMAC signature of the raw HTTP request body, computed with your SDK/partner secret and the value of SmileID-Timestamp as salt. Required when your Smile ID account is configured to use SDK/partner secret HMAC authentication.
          schema:
            type: string
            example: '4f2d9c6b8a7e3f1c0d5e4b3a2c1f9e8d7c6b5a4f3e2d1c0b9a8f7e6d5c4b3a2'
        - name: User-ID
          in: header
          required: false
          description: >-
            Partner-provided user identifier. If omitted, a TypeID is generated automatically.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ResidencyDocumentVerificationRequest'
            encoding:
              selfie_image:
                contentType: image/jpeg
              liveness_images:
                contentType: image/jpeg
              document:
                contentType: image/jpeg, image/png
              document_back:
                contentType: image/jpeg, image/png
              visa:
                contentType: image/jpeg, image/png
      callbacks:
        residencyDocumentVerificationResult:
          '{$request.body#/callback_url}':
            post:
              summary: Residency Document Verification result callback
              description: >-
                The standard Document Verification callback body, plus an `additional_documents` array carrying what was read from the visa. Only this product sends that key; plain and Enhanced Document Verification omit it entirely. The array is populated only when the job reaches `clear` or `attention` — on `block` or `error` the key is present but empty, matching how `id_fields` is suppressed on a failed outcome. Only the visa-specific part of the body is specified here; every other field matches the Document Verification callback.
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ResidencyDocumentVerificationCallback'
                    examples:
                      clear:
                        summary: Visa read on a clear outcome
                        value:
                          status: clear
                          product: residency_document_verification
                          additional_documents:
                            - image_link: https://smile-results.s3.eu-west-1.amazonaws.com/.../additional_doc_1.jpg?...
                              full_name: John D.
                              id_number: A000000X
                              issued_at: Head office
                              issuance_date: '2025-01-15'
                              expiry:
                                expiry_date: '2025-10-15'
                                expiry_period_in_months: '9'
                              conditions: >-
                                The holder is not or does not become a prohibited or undesirable person. To conduct work as a human resource officer.
                              no_of_entries: multiple
                              document_primary_id: AA0789993
                      blocked:
                        summary: Suppressed on a non-clear outcome
                        value:
                          status: block
                          product: residency_document_verification
                          additional_documents: []
              responses:
                '200':
                  description: Callback received and acknowledged by the partner endpoint.
      responses:
        '202':
          description: Accepted — job submitted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
              example:
                status: accepted
                message: Request accepted and queued for processing.
                job_id: job_01h8x9y2z3a4b5c6d7e8f9g0h1
                user_id: user_01h8x9y2z3a4b5c6d7e8f9g0h1
                created_at: '2026-03-10T12:00:00.000Z'
        '400':
          description: Bad Request — validation error in request body or headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                missingDocument:
                  summary: Missing document image
                  value:
                    status: Bad Request
                    message: "Required field 'document' is missing or invalid."
                missingVisa:
                  summary: Missing visa image
                  value:
                    status: Bad Request
                    message: "Required field 'visa' is missing or invalid."
                missingSelfie:
                  summary: Missing selfie image
                  value:
                    status: Bad Request
                    message: "Required field 'selfie_image' is missing or invalid."
                missingCallbackUrl:
                  summary: Missing callback_url and no default set
                  value:
                    status: Bad Request
                    message: A valid callback_url is required in the request or a default callback URL must be configured in the portal.
                missingCountry:
                  summary: Missing required field
                  value:
                    status: Bad Request
                    message: "Required field 'country' is missing or invalid."
                missingContact:
                  summary: Missing email and phone
                  value:
                    status: Bad Request
                    message: Either email or phone_number is required.
                invalidConsent:
                  summary: Consent not granted
                  value:
                    status: Bad Request
                    message: "Required field 'consent.granted' is missing or invalid."
                invalidDocumentMime:
                  summary: Invalid document image format
                  value:
                    status: Bad Request
                    message: Document image must be JPEG or PNG.
        '401':
          description: Unauthorized — invalid or missing authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unauthorized
                message: Invalid authentication credentials.
        '402':
          description: Payment Required — insufficient wallet balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Payment Required
                message: Insufficient wallet balance.
        '403':
          description: Forbidden — partner not authorized for this product or IP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                productAccess:
                  summary: Product not enabled
                  value:
                    status: Forbidden
                    message: Product not enabled for this partner.
                productionAccess:
                  summary: Production access denied
                  value:
                    status: Forbidden
                    message: Production access is not enabled.
                sdkVersion:
                  summary: SDK version blocked
                  value:
                    status: Forbidden
                    message: SDK version not allowed.
        '413':
          description: Content Too Large — an uploaded file exceeds the size limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Content Too Large
                message: selfie_image is too large.
        '415':
          description: Unsupported Media Type — request must be multipart/form-data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Unsupported Media Type
                message: Unsupported Media Type. Required Content-Type is multipart/form-data
        '429':
          description: Too Many Requests — rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Too Many Requests
                message: Rate limit exceeded. Please try again later.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              example:
                status: Internal Server Error
                message: An unexpected error occurred. Please try again or contact support.
components:
  securitySchemes:
    SmileIDToken:
      type: apiKey
      in: header
      name: SmileID-Token
      description: JWT token obtained from `POST /v3/token`.
      x-gitbook-token-placeholder: YOUR_GENERATED_TOKEN
  schemas:
    ResidencyDocumentVerificationRequest:
      type: object
      required:
        - selfie_image
        - liveness_images
        - consent
        - country
        - document
        - visa
        - user_details
      properties:
        selfie_image:
          type: string
          format: binary
          description: >-
            JPEG selfie image used for biometric verification. Must be a clear, well-lit, front-facing photo.
        liveness_images:
          type: array
          minItems: 6
          maxItems: 8
          items:
            type: string
            format: binary
          description: >-
            Array of JPEG liveness sequence images captured during the liveness check. These images are used for liveness verification.
        document:
          type: string
          format: binary
          description: >-
            Front of the identity document (JPEG or PNG). Used for document verification.
        document_back:
          type: string
          format: binary
          description: >-
            Back of the identity document (JPEG or PNG). Optional. Provide when the document has relevant information on the back (e.g., barcodes, MRZ on some document types).
        visa:
          type: string
          format: binary
          description: >-
            The visa endorsed in the identity document (JPEG or PNG). Required. Capture the visa page itself, not the document's biographical page — the two are read separately and a second copy of the biographical page cannot be reviewed as a visa.
        consent:
          $ref: '#/components/schemas/Consent'
        country:
          type: string
          minLength: 2
          maxLength: 2
          description: >-
            ISO 3166-1 alpha-2 country code (uppercase). Can be provided via the token payload (bound at /v3/token) instead of the request body.
          example: NG
        id_type:
          type: string
          description: >-
            Type of the identity document the visa is endorsed in (e.g., PASSPORT). Optional — the document type is auto-classified if not provided. This describes the identity document, never the visa; the visa's own class is determined during review. Can be provided via the token payload (bound at /v3/token) instead of the request body.
          example: PASSPORT
        user_details:
          type: object
          required:
            - given_names
            - last_name
          anyOf:
            - required: [email]
            - required: [phone_number]
          description: >-
            Consumer-stated PII fields for the user. Either email or phone_number must be provided.
          properties:
            given_names:
              type: string
              minLength: 1
              description: >-
                Given name(s) / first name of the individual. Can be provided via the token payload (bound at /v3/token) instead of the request body.
              example: John
            last_name:
              type: string
              minLength: 1
              description: >-
                Last name / surname of the individual. Can be provided via the token payload (bound at /v3/token) instead of the request body.
              example: Doe
            email:
              type: string
              format: email
              nullable: true
              description: >-
                Email address of the individual. At least one of email or phone_number is required. Can be provided via the token payload (bound at /v3/token) instead of the request body.
              example: john@example.com
            phone_number:
              type: string
              pattern: '^\+[1-9]\d{6,14}$'
              nullable: true
              description: >-
                Phone number in E.164 format (must start with +). At least one of email or phone_number is required.
              example: '+2348012345678'
        callback_url:
          type: string
          format: uri
          pattern: '^https://'
          description: >-
            URL to receive the async result callback. Falls back to partner default if omitted. Must be on the partner's allowed callback domains list. Can be provided via the token payload (bound at /v3/token) instead of the request body.
          example: https://example.com/callback
        partner_params:
          type: object
          additionalProperties:
            type: string
          description: Arbitrary key-value metadata for partner reference.
          example:
            order_id: 'ORD-12345'
        metadata:
          type: array
          description: Additional metadata entries (e.g., SDK telemetry, device info).
          items:
            type: object
            required:
              - name
              - value
            properties:
              name:
                type: string
                maxLength: 100
              value:
                type: string
                maxLength: 1000
    Consent:
      type: object
      required: [granted, granted_at, notice_language, notice_privacy_policy_url]
      properties:
        granted:
          type: boolean
          enum: [true]
          description: Must be true; user has granted consent.
        granted_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when consent was granted.
          example: '2026-03-06T12:00:00.000Z'
        notice_language:
          type: string
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
          description: ISO 639-1 language code of the privacy notice shown, uppercase.
          example: EN
        notice_privacy_policy_url:
          type: string
          format: uri
          pattern: '^https://'
          description: HTTPS URL of the privacy policy notice shown to the user.
          example: https://example.com/privacy
    AcceptedResponse:
      type: object
      required:
        - status
        - message
        - job_id
        - user_id
        - created_at
      properties:
        status:
          type: string
          enum: [accepted]
          description: Acceptance status for queued verification requests.
        message:
          type: string
          description: Human-readable acceptance message.
          example: Request accepted and queued for processing.
        job_id:
          type: string
          description: TypeID format verification identifier for tracking.
          example: job_01h8x9y2z3a4b5c6d7e8f9g0h1
        user_id:
          type: string
          description: TypeID format user identifier, or partner-provided user identifier.
          example: user_01h8x9y2z3a4b5c6d7e8f9g0h1
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the verification was created.
          example: '2026-03-10T12:00:00.000Z'
    ApiErrorResponse:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          description: HTTP status text.
          example: Bad Request
        message:
          type: string
          description: Human-readable error message.
          example: Invalid request.
    ResidencyDocumentVerificationCallback:
      type: object
      description: >-
        The Document Verification callback body as sent for Residency Document Verification. Only the fields specific to this product are described; the rest match the standard Document Verification callback.
      properties:
        status:
          type: string
          enum: [clear, attention, block, error]
          description: Terminal state of the job.
        product:
          type: string
          enum: [residency_document_verification]
        additional_documents:
          type: array
          description: >-
            Documents read alongside the one that identifies the job. Present only on this product, and populated only when `status` is `clear` or `attention`. Empty on any other outcome, or when nothing could be read from the visa.
          items:
            $ref: '#/components/schemas/AdditionalDocument'
    AdditionalDocument:
      type: object
      description: A document read alongside the one that identifies the job.
      properties:
        image_link:
          type: string
          nullable: true
          description: Time-limited signed URL to the document image.
          example: https://smile-results.s3.eu-west-1.amazonaws.com/.../additional_doc_1.jpg?...
        full_name:
          type: string
          nullable: true
          description: Name as printed on the document. Null when absent or obscured.
          example: John D.
        id_number:
          type: string
          nullable: true
          description: The number identifying the holder. Null when absent or obscured.
          example: A000000X
        issued_at:
          type: string
          nullable: true
          description: Issuing office as printed.
          example: Head office
        issuance_date:
          type: string
          format: date
          nullable: true
          description: >-
            Date of issue. Where the document prints a validity start rather than an issue date, that value is returned here.
          example: '2025-01-15'
        expiry:
          type: object
          properties:
            expiry_date:
              type: string
              format: date
              nullable: true
              example: '2025-10-15'
            expiry_period_in_months:
              type: string
              nullable: true
              description: >-
                Complete months between the start of validity and expiry. Null unless both dates were read.
              example: '9'
        conditions:
          type: string
          nullable: true
          description: Conditions or restrictions printed on the document, verbatim.
        no_of_entries:
          type: string
          enum: [single, multiple, other]
          nullable: true
          description: Null when the document carries no entries field, or names something outside this list.
          example: multiple
        document_primary_id:
          type: string
          nullable: true
          description: The control or permit number.
          example: AA0789993
