openapi: 3.0.3
servers:
  - url: https://testapi.smileidentity.com
    description: Sandbox
  - url: https://api.smileidentity.com
    description: Production
info:
  title: V3 Smart Selfie Compare API
  version: '1.0.0'
  description: >-
    Async smart selfie compare endpoint (Smart Selfie™ Compare).
    Accepts a selfie image and a comparison image, validates at entry, and queues the job
    for async processing (passive liveness, face matching, optional active liveness).
    Returns HTTP 202 with a job_id and user_id to track the result via callback.

    Authentication: token-based (token header from /v3/token).

    At least one of `email` or `phone_number` is required.
paths:
  /v3/compare:
    post:
      summary: Submit smart selfie compare
      operationId: v3SmartSelfieCompare
      tags:
        - Smart Selfie Compare
      security:
        - SmileIDToken: []
      description: >-
        Compares a selfie image against a provided comparison image (document, ID photo, or portrait).
        The images are uploaded, validated at entry, then queued for async ML processing
        (passive liveness, face matching, optional active liveness with liveness images).
        Results are delivered via callback URL.

        If `user_id` is provided and the comparison passes, the user will be enrolled.
      parameters:
        - name: SmileID-Source-SDK
          in: header
          required: false
          description: Source SDK identifier.
          schema:
            type: string
            example: 'ios'
        - name: SmileID-Source-SDK-Version
          in: header
          required: false
          description: Source SDK version.
          schema:
            type: string
            example: '10.3.1'
        - name: SmileID-Timestamp
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            ISO 8601 timestamp used as the salt when computing SmileID-Request-Signature.
          schema:
            type: string
            format: date-time
        - name: SmileID-Request-Signature
          in: header
          required: false
          x-smile-sdk-exclude: true
          description: >-
            HMAC signature of the raw HTTP request body.
          schema:
            type: string
        - name: User-ID
          in: header
          required: false
          description: >-
            Partner-provided user identifier. If omitted, a TypeID is generated automatically.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SmartSelfieCompareRequest'
            encoding:
              selfie_image:
                contentType: image/jpeg
              comparison_image:
                contentType: image/jpeg
              liveness_images:
                contentType: image/jpeg
      responses:
        '202':
          description: Accepted — job queued for async processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedResponse'
              example:
                status: accepted
                message: Request accepted and queued for processing.
                job_id: job_01h8x9y2z3a4b5c6d7e8f9g0h1
                user_id: user_01h8x9y2z3a4b5c6d7e8f9g0h1
                created_at: '2026-03-10T12:00:00.000Z'
        '400':
          description: Bad Request — validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                missingCallbackUrl:
                  summary: Missing callback_url and no default set
                  value:
                    status: Bad Request
                    message: A valid callback_url is required in the request or a default callback URL must be configured in the portal.
                missingSelfie:
                  summary: Missing selfie image
                  value:
                    status: Bad Request
                    message: "Required field 'selfie_image' is missing or invalid."
                missingComparisonImage:
                  summary: Missing comparison image
                  value:
                    status: Bad Request
                    message: "Required field 'comparison_image' is missing or invalid."
                invalidComparisonType:
                  summary: Invalid comparison image type
                  value:
                    status: Bad Request
                    message: "Field 'comparison_image_type' must be either DOCUMENT, ID_PHOTO, or PORTRAIT."
                missingContact:
                  summary: Missing email and phone
                  value:
                    status: Bad Request
                    message: Either email or phone_number is required.
        '401':
          description: Unauthorized — invalid or missing authentication credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '402':
          description: Payment Required — insufficient wallet balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: Forbidden — partner not authorized for this product or IP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '415':
          description: Unsupported Media Type — request must be multipart/form-data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests — rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

components:
  securitySchemes:
    SmileIDToken:
      type: apiKey
      in: header
      name: SmileID-Token
      description: JWT token obtained from `POST /v3/token`.
  schemas:
    SmartSelfieCompareRequest:
      type: object
      required:
        - selfie_image
        - comparison_image
        - comparison_image_type
        - consent
        - user_details
      properties:
        selfie_image:
          type: string
          format: binary
          description: JPEG selfie image.
        comparison_image:
          type: string
          format: binary
          description: >-
            JPEG comparison image (ID card photo, ID photo, or portrait).
        comparison_image_type:
          type: string
          enum: [DOCUMENT, ID_PHOTO, PORTRAIT]
          description: >-
            Type of comparison image being submitted.
        consent:
          $ref: '#/components/schemas/Consent'
        user_details:
          type: object
          required:
            - given_names
            - last_name
          anyOf:
            - required: [email]
            - required: [phone_number]
          description: >-
            Consumer-stated PII fields for the user.
            Either email or phone_number must be provided.
          properties:
            given_names:
              type: string
              minLength: 1
              example: Alice
            last_name:
              type: string
              minLength: 1
              example: Johnson
            email:
              type: string
              format: email
              nullable: true
              description: At least one of email or phone_number is required.
              example: alice@example.com
            phone_number:
              type: string
              pattern: '^\+[1-9]\d{6,14}$'
              nullable: true
              description: Phone number in E.164 format. At least one of email or phone_number is required.
              example: '+2348012345678'
        liveness_images:
          type: array
          minItems: 6
          maxItems: 8
          items:
            type: string
            format: binary
          description: >-
            Optional array of JPEG liveness images. If omitted, active liveness check
            is skipped.
        allow_new_enroll:
          type: boolean
          default: false
          description: >-
            If true, allows re-enrollment for a user who is already enrolled.
        user_id:
          type: string
          description: >-
            Optional user identifier. If provided and the job passes, the user will be enrolled.
        callback_url:
          type: string
          format: uri
          pattern: '^https://'
          description: URL to receive the async result callback.
          example: https://example.com/callback
        sandbox_result:
          type: number
          description: Force a specific result code in sandbox mode.
        partner_params:
          type: object
          additionalProperties:
            type: string
        metadata:
          type: array
          items:
            type: object
            required: [name, value]
            properties:
              name:
                type: string
                maxLength: 100
              value:
                type: string
                maxLength: 1000

    Consent:
      type: object
      required: [granted, granted_at, notice_language, notice_privacy_policy_url]
      properties:
        granted:
          type: boolean
          enum: [true]
        granted_at:
          type: string
          format: date-time
        notice_language:
          type: string
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
        notice_privacy_policy_url:
          type: string
          format: uri

    AcceptedResponse:
      type: object
      required:
        - status
        - message
        - job_id
        - user_id
        - created_at
      properties:
        status:
          type: string
          enum: [accepted]
          description: Acceptance status for queued verification requests.
        message:
          type: string
          description: Human-readable acceptance message.
          example: Request accepted and queued for processing.
        job_id:
          type: string
          description: TypeID format verification identifier for tracking.
          example: job_01h8x9y2z3a4b5c6d7e8f9g0h1
        user_id:
          type: string
          description: TypeID format user identifier, or partner-provided user identifier.
          example: user_01h8x9y2z3a4b5c6d7e8f9g0h1
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the verification was created.
          example: '2026-03-10T12:00:00.000Z'

    ApiErrorResponse:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          description: HTTP status text.
          example: Bad Request
        message:
          type: string
          description: Human-readable error message.
          example: Invalid request.
